<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>dtxoa.servlet.IndexServlet</servlet-class>
        <init-param>
            <param-name>org.apache.velocity.properties</param-name>
            <param-value>/WEB-INF/velocity.properties</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>dtxoa.servlet.LoginServlet</servlet-class>
        <init-param>
            <param-name>org.apache.velocity.properties</param-name>
            <param-value>/WEB-INF/velocity.properties</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>CheckLoginServlet</servlet-name>
        <servlet-class>dtxoa.servlet.CheckLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>dtxoa.servlet.user.AddUser</servlet-class>
        <init-param>
            <param-name>org.apache.velocity.properties</param-name>
            <param-value>/WEB-INF/velocity.properties</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>dtxoa.servlet.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserExistsValidateServlet</servlet-name>
        <servlet-class>dtxoa.servlet.validate.UserExistsValidateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>dtxoa.servlet.user.save.AddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JumpServlet</servlet-name>
        <servlet-class>dtxoa.servlet.JumpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NodeServlet</servlet-name>
        <servlet-class>dtxoa.servlet.NodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUser</servlet-name>
        <servlet-class>dtxoa.servlet.user.EditUser</servlet-class>
        <init-param>
            <param-name>org.apache.velocity.properties</param-name>
            <param-value>/WEB-INF/velocity.properties</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>PwdIscorrectServlet</servlet-name>
        <servlet-class>dtxoa.servlet.validate.PwdIscorrectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>dtxoa.servlet.user.save.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNodeServlet</servlet-name>
        <servlet-class>dtxoa.servlet.node.AddServlet</servlet-class>
        <init-param>
            <param-name>org.apache.velocity.properties</param-name>
            <param-value>/WEB-INF/velocity.properties</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AddNode</servlet-name>
        <servlet-class>dtxoa.servlet.node.save.AddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NodeTitleExistsValidateServlet</servlet-name>
        <servlet-class>dtxoa.servlet.validate.NodeTitleExistsValidateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NodeAddressExistsValidateServlet</servlet-name>
        <servlet-class>dtxoa.servlet.validate.NodeAddressExistsValidateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditNode</servlet-name>
        <servlet-class>dtxoa.servlet.node.EditServlet</servlet-class>
        <init-param>
            <param-name>org.apache.velocity.properties</param-name>
            <param-value>/WEB-INF/velocity.properties</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>UpdateNodeServlet</servlet-name>
        <servlet-class>dtxoa.servlet.node.save.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoleNameExistsValidateServlet</servlet-name>
        <servlet-class>dtxoa.servlet.validate.RoleNameExistsValidateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoleServlet</servlet-name>
        <servlet-class>dtxoa.servlet.role.AddServlet</servlet-class>
        <init-param>
            <param-name>org.apache.velocity.properties</param-name>
            <param-value>/WEB-INF/velocity.properties</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AddRole</servlet-name>
        <servlet-class>dtxoa.servlet.role.save.AddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRoleServlet</servlet-name>
        <servlet-class>dtxoa.servlet.role.EditServlet</servlet-class>
        <init-param>
            <param-name>org.apache.velocity.properties</param-name>
            <param-value>/WEB-INF/velocity.properties</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>UpdateRoleServlet</servlet-name>
        <servlet-class>dtxoa.servlet.role.save.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingRoleUserServlet</servlet-name>
        <servlet-class>dtxoa.servlet.rolenode.SettingServlet</servlet-class>
        <init-param>
            <param-name>org.apache.velocity.properties</param-name>
            <param-value>/WEB-INF/velocity.properties</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>GetNodesServlet</servlet-name>
        <servlet-class>dtxoa.servlet.rolenode.GetNodesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoleNodeServlet</servlet-name>
        <servlet-class>dtxoa.servlet.rolenode.save.AddRoleNodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLoginServlet</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/user/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserExistsValidateServlet</servlet-name>
        <url-pattern>/validate/user-exists</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/user/save-add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JumpServlet</servlet-name>
        <url-pattern>/jump</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NodeServlet</servlet-name>
        <url-pattern>/node</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUser</servlet-name>
        <url-pattern>/user/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PwdIscorrectServlet</servlet-name>
        <url-pattern>/validate/pwd-is-correct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/user/save-edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNodeServlet</servlet-name>
        <url-pattern>/node/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNode</servlet-name>
        <url-pattern>/node/save-add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NodeTitleExistsValidateServlet</servlet-name>
        <url-pattern>/validate/node-title-exists</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NodeAddressExistsValidateServlet</servlet-name>
        <url-pattern>/validate/node-address-exists</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditNode</servlet-name>
        <url-pattern>/node/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNodeServlet</servlet-name>
        <url-pattern>/node/save-edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoleNameExistsValidateServlet</servlet-name>
        <url-pattern>/validate/role-name-exists</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoleServlet</servlet-name>
        <url-pattern>/role/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRole</servlet-name>
        <url-pattern>/role/save-add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRoleServlet</servlet-name>
        <url-pattern>/role/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRoleServlet</servlet-name>
        <url-pattern>/role/save-edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingRoleUserServlet</servlet-name>
        <url-pattern>/ru/config</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNodesServlet</servlet-name>
        <url-pattern>/rn/get</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoleNodeServlet</servlet-name>
        <url-pattern>/rn/save-add</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
